.btn-social
    background-color: $light-grey
    width: 30.66px
    height: 30.66px
    padding: 3px !important
    transition: all .3s ease
    &:hover
        background-color: $orange

.menu-row .nav-link
    font-family: $dinpro-medium
    font-size: 20px
    color: $grey
    transition: all .3s ease
    &:hover
        color: $orange
    &.active
        color: $orange

$hamburger-layer-color: $orange
$hamburger-hover-opacity: 1

@media (max-width: 966px)
    .navbar-brand img, #contact img
        height: 75px
    