@import 'variables'
@import 'mixins'
@import 'forms'
@import 'navbar'
@import 'bootstrap/scss/bootstrap'

.btn-social
    background-color: $light-grey
    width: 30.66px
    height: 30.66px
    padding: 3px
    transition: all .3s ease
    &:hover
        background-color: $orange

.nav-link
    color: $grey
    transition: all .3s ease
    &:hover
        color: $orange

        